#servicewrapper{
    background-color: #F8FBF8 !important;
    height: 500px;
    padding: 20px;
    /* margin-left: 40px; */
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.servicefooter{
    width: 20%;
    /* border: solid 2px black; */
    background-color: #F8FBF8 ;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    padding: 20px;
    box-sizing: border-box;
    color: #012840;
    box-shadow: 4px 4px 7px 2px rgba(0, 0, 0, 0.515);
    height: 260px;
    /* background-color: aqua; */
    border-radius: 5px;
}



p{


    color: #012840;
    font-size: larger;
}